* {
  padding: 0;
  margin: 0;
  border: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  transition: all ease-in-out 0.2s;
}

html {
  font-size: 10pt;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:disabled {
  cursor: not-allowed;
}
